

* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

body{
	background-color: #d8dbd6;
}

#backgroundcontainer{
    height: 100vh;
    width: 100%;
 }
 
.stripgreen{
    background-color: #009688;
    width: 100%;
    height: 15%;
    position: relative;
    z-index: 0;
 }

 #app{
    height: 95%;
    margin: 0 auto;
    width: 1200px;
    z-index: 50;
    position: absolute;
    top: 3%;
    left: 19%;
    display: flex;
 }

 #col-sx{
    width: 40%;
    background-color: #8edafc;
    height: 100%;
 }
 
 .top-bar{
     background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .brd-rgh{
    border-right: 1px solid slategray;
 }

 .avatar-user {
    display: flex;
    align-items: center;

 }

 .avatar-user img{
    height: 70px;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 3%;
 }

 .icons{
     margin-right: 3%;
}

 .notify-bar{
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
 }

 .bell{
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    text-align: center;
    margin: 3%;
    width: 12%;
    font-size: 1.5rem;

 }

 .bell i{
    margin:25%;
 }


 #col-sx input{
    width: 100%;
    height: 4%;
 }

 .users-card{
    width: 100%;
    background-color: rgb(255, 0, 0);
    height: 10%;
 }


 #col-dx{
    width: 60%;
    background-color: brown;
    height: 100%;
 }