<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="javascript/Framescript.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>   
    <script src="javascript/script.js" defer></script>   
</head>
<body>

<!--Container-->
    <div id="backgroundcontainer">
        <div class="stripgreen"></div>      
        <div id="app">

            <!--Colonna sinistra-->

            <div id="col-sx">
                <div class="top-bar brd-rgh">
                    <div class="avatar-user">
                        <img src="img/avatar_io.jpg" alt="">
                        <div>
                            <h3>Sofia</h3>
                        </div>
                    </div>
                    <div class="icons">
                        <button><i class="fa-solid fa-circle-notch"></i></button>
                        <button><i class="fa-solid fa-message"></i></button>
                        <button><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                </div>
                <div class="notify-bar">
                    <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                    <div>
                        <p>Ricevi notifiche di nuovi messaggi!</p>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <input type="text" placeholder="Cerca o inizia una nuova chat!">
                <div class="users-card" v-for="(contact,index) in contacts" @click="setActiveUser(index)">
                    <div class="users-card-left">
                        <img :src="imgURL(contact)" alt="user img">
                        <div>
                            <h4>{{contact.name}}</h4>
                            <p>{{getLastUserMsg(contact)}}</p>
                        </div>
                    </div>
                    <div class="time"><p>12:00</p></div>
                </div>
            </div>

            <!--Colonna destra-->

            <div id="col-dx" v-if="activeUser !== null" >
                    <div class="top-bar">
                        <div class="avatar-user" >
                            <img src="img/avatar_1.jpg" alt="user img">
                            <div>
                                <h3>{{contacts[activeUser].name}}</h3>
                                <p>ultimo accesso alle 12:30</p>
                            </div>
                        </div>
                        <div class="icons">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <button><i class="fa-solid fa-paperclip"></i></button>
                            <button><i class="fa-solid fa-ellipsis"></i></button>
                        </div>
                    </div>
                    <div class="chat-container">
                        <div class="chat-sx" >
                            <div class="message received" v-for="(message) in contacts[activeUser].messages">{{getUserMsg(message)}}</div>
                        </div>
                    </div>
                    <div class="send-message-bar">
                        <div><button><i class="fa-solid fa-face-smile"></i></button></div>
                        <div><input type="text"placeholder='Scrivi un messaggio!'></div>
                        <div><button><i class="fa-solid fa-share"></i></button></div>
                    </div>
            </div>
        </div>
    </div>

<!--Fine container-->

</body>
</html>